body {
    margin: 0;
    font-family: Arial;
    background-color: #f5f5f5;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

nav {
    background-color: #6abf6a;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    gap: 20px;
    padding: 20px;
}

aside {
    background-color: #e9f7e9;
    padding: 20px;
    border-radius: 10px;
}

aside ul {
    padding-left: 18px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card p {
    text-align: center;
    margin-top: 10px;
}

footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}